Repository Project-OSRM/osrm-backend, pull requests merged in 2018-04, with the labels that each got.

#4999 Add missing check of a tar writing function
  include/storage/tar.hpp
Labels: Ready To Merge

#4974 Validate format of changelog entries.
  .travis.yml
  CHANGELOG.md
  scripts/validate_changelog.js
Labels: Ready To Merge

#4993 Don't apply unimplemented SH and PH conditions
  CHANGELOG.md
  include/util/opening_hours.hpp
  src/util/opening_hours.cpp
  unit_tests/util/opening_hours_parsing.cpp
Labels: Review

#5009 Simplify toEdges and make it more robust
  include/contractor/graph_contractor_adaptors.hpp
Labels: Ready To Merge

#5007 Better statistics for osrm-partition and osrm-custimize
  include/partitioner/cell_statistics.hpp
  include/partitioner/cell_storage.hpp
  src/customize/customizer.cpp
  src/partitioner/partitioner.cpp
Labels: Ready To Merge

#5021 Avoid using signed integers for edge IDs
  CHANGELOG.md
  include/util/dynamic_graph.hpp
Labels: Ready To Merge

#5025 Gracefully handle no shared memory regions found
  include/storage/shared_monitor.hpp
  src/tools/store.cpp
Labels: Ready To Merge

#5023 Remove dummy edges before inplace permutation
  include/util/dynamic_graph.hpp
Labels: Ready To Merge

#5036 Add option to osrm-runner to limit the distance
  scripts/osrm-runner.js
Labels: Review

#5040 Do not combine a segregated edge with a roundabout
  CHANGELOG.md
  features/testbot/fixed.feature
  scripts/osm2cucumber.js
  src/engine/guidance/collapse_turns.cpp
Labels: Ready To Merge

#5050 Parse table annotations param correctly
  docs/http.md
  docs/nodejs/api.md
  features/support/hooks.js
  include/engine/algorithm.hpp
  include/engine/api/table_parameters.hpp
  include/engine/routing_algorithms.hpp
  include/nodejs/node_osrm_support.hpp
  include/server/api/table_parameter_grammar.hpp
  src/engine/plugins/table.cpp
  src/nodejs/node_osrm.cpp
  test/nodejs/table.js
Labels: Review

#5048 Tune alternatives parameters for MLD
  src/engine/routing_algorithms/alternative_path_mld.cpp
Labels: Review - In feedback

#5058 Test for "No turn issued for right turn on un-named roads" issue
  features/guidance/obvious-turn-discovery.feature
Labels: Ready To Merge
