Repository Project-OSRM/osrm-backend, pull requests merged in 2018-02, with the labels that each got.

#4676 Support manual instruction type override relations
  CHANGELOG.md
  features/car/restrictions.feature
  features/guidance/maneuver-tag.feature
  features/step_definitions/data.js
  include/engine/api/route_api.hpp
  include/engine/datafacade/contiguous_internalmem_datafacade.hpp
  include/engine/datafacade/datafacade_base.hpp
  include/engine/guidance/assemble_steps.hpp
  include/engine/guidance/post_processing.hpp
  include/engine/guidance/route_step.hpp
  include/engine/internal_route_result.hpp
  include/engine/routing_algorithms/routing_base.hpp
  include/extractor/edge_based_graph_factory.hpp
  include/extractor/extraction_containers.hpp
  include/extractor/extractor.hpp
  include/extractor/extractor_callbacks.hpp
  include/extractor/extractor_config.hpp
  include/extractor/graph_compressor.hpp
  include/extractor/maneuver_override.hpp
  include/extractor/maneuver_override_relation_parser.hpp
  include/extractor/node_based_graph_factory.hpp
  include/extractor/restriction_compressor.hpp
  include/extractor/scripting_environment.hpp
  include/extractor/scripting_environment_lua.hpp
  include/extractor/serialization.hpp
  include/guidance/turn_instruction.hpp
  include/storage/shared_datatype.hpp
  include/storage/storage_config.hpp
  src/engine/guidance/post_processing.cpp
  src/extractor/edge_based_graph_factory.cpp
  src/extractor/extraction_containers.cpp
  src/extractor/extractor.cpp
  src/extractor/extractor_callbacks.cpp
  src/extractor/graph_compressor.cpp
  src/extractor/maneuver_override_relation_parser.cpp
  src/extractor/node_based_graph_factory.cpp
  src/extractor/restriction_compressor.cpp
  src/extractor/scripting_environment_lua.cpp
  src/storage/storage.cpp
  unit_tests/engine/collapse_internal_route_result.cpp
  unit_tests/engine/guidance_assembly.cpp
  unit_tests/engine/offline_facade.cpp
  unit_tests/extractor/graph_compressor.cpp
  unit_tests/extractor/intersection_analysis_tests.cpp
  unit_tests/mocks/mock_datafacade.hpp
  unit_tests/mocks/mock_scripting_environment.hpp
Labels: Review - In feedback

#4866 Fix default value for matching radius in routed
  src/tools/routed.cpp
Labels: Review

#4872 Add OSM node barrier=height_restrictor handling
  CHANGELOG.md
  features/car/barrier.feature
  features/options/extract/lua.feature
  profiles/car.lua
  profiles/lib/measure.lua
  src/extractor/scripting_environment_lua.cpp
  taginfo.json
Labels: Profile, Ready To Merge

#4877 Use links with lower priority in the motorway handler
  CHANGELOG.md
  features/guidance/motorway.feature
  src/guidance/motorway_handler.cpp
Labels: Guidance, Review - In feedback

#4887 Update package.json
  package.json
Labels: Review

#4889 update package.json
  package.json
Labels: Ready To Merge

#4896 Don't use obvious directions at ramp bifurcations
  CHANGELOG.md
  features/guidance/motorway.feature
  src/guidance/turn_handler.cpp
Labels: Guidance, Ready To Merge

#4884 Add .editorconfig file
  .editorconfig
Labels: Review - In feedback

#4893 Handle motorway forks with links as normal motorway intersections
  CHANGELOG.md
  features/guidance/motorway.feature
  src/guidance/motorway_handler.cpp
Labels: Bug Report, Guidance, Ready To Merge

#4905 Check required tags of `maneuver` relations
  CHANGELOG.md
  features/guidance/maneuver-tag.feature
  src/extractor/maneuver_override_relation_parser.cpp
Labels: Review

#4845 Updated segregated intersection identification
  CHANGELOG.md
  features/guidance/internal-intersections.feature
  src/guidance/segregated_intersection_classification.cpp
  test/nodejs/constants.js
Labels: Work In Progress
