Repository Project-OSRM/osrm-backend, pull requests merged in 2018-03, with the labels that each got.

#4936 Speed up generation of step geometries when there are lots of legs
  CHANGELOG.md
  include/engine/api/route_api.hpp
Labels: Ready To Merge

#4949 Add source phantom weight to first segment when merging legs
  CHANGELOG.md
  features/testbot/matching.feature
  features/testbot/traffic_speeds.feature
  features/testbot/weight.feature
  include/engine/guidance/assemble_geometry.hpp
  include/engine/internal_route_result.hpp
  unit_tests/library/route.cpp
Labels: Ready To Merge

#4955 Refactor shared memory layout to expose Block as interface
  include/engine/datafacade/contiguous_internalmem_datafacade.hpp
  include/partitioner/serialization.hpp
  include/storage/block.hpp
  include/storage/io.hpp
  include/storage/shared_datatype.hpp
  src/storage/storage.cpp
Labels: Refactor, Review - In feedback

#4961 Add approaches tests in left-side-countries
  features/testbot/approaches.feature
Labels: Ready To Merge

#4964 Add Github releases step
  docs/releasing.md
Labels: Ready To Merge

#4944 Don't route bikes on oneway roads in the wrong direction
  CHANGELOG.md
  features/bicycle/cycleway.feature
  features/bicycle/oneway.feature
  features/bicycle/safety.feature
  features/bicycle/surface.feature
  features/guidance/bicycle-sliproads.feature
  profiles/bicycle.lua
Labels: Ready To Merge

#4968 Fixed segregated identification code to not mark `circular` edges as segregated
  src/guidance/segregated_intersection_classification.cpp
Labels: Review

#4977 Add microtar to executables in unit tests CMakeLists
  unit_tests/CMakeLists.txt
Labels: Bug Report

#4925 Added post process logic to collapse segregated turn instructions
  CHANGELOG.md
  features/car/conditional_restrictions.feature
  features/guidance/collapse.feature
  features/guidance/divided-highways.feature
  features/guidance/obvious-turn-discovery.feature
  features/guidance/turn-lanes.feature
  include/engine/api/route_api.hpp
  include/engine/guidance/collapse_turns.hpp
  include/engine/guidance/collapsing_utility.hpp
  src/engine/guidance/collapse_scenario_detection.cpp
  src/engine/guidance/collapse_turns.cpp
Labels: Review
